<h1>Listing people</h1>


<section id="people">
  <% @people.each do |person| %>
    <article class="person">
      <header>
        <h2><%= link_to person.name, person_path(person) %></h2>
        <h4><%= person.description %></h4>
        <%= link_to h(image_tag(person.image_url)), person_path(person) %>
      </header>
      <%= person.summary %>    
      <ul>
        <li>Age: <%= person.age %></li>
        <li>Friends: <%= person.friends %></li>
        <li>Weight: <%= person.weight %></li>
        <li>Height: <%= person.height %></li>
        <li>Stash: <%= person.wealth %></li>
        <li>Payoffs: <%= person.payoffs %></li>
      </ul>
      <footer>
        <%= link_to 'Show', person %> ! <%= link_to 'Edit', edit_person_path(person) %> ! <%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %>
      </footer>
    </article>
  <% end %>
</section>

<br />

<%= link_to 'New Person', new_person_path %>
