<header id="page">
  <h1>Wall Street Top Tramp$</h1>
  <%= link_to 'Add A New Person', new_person_path, :class => "button" %>
</header>


<section id="people" data-update-url="<%= sort_people_url %>">
  <% @people.each do |person| %>
      <%= content_tag_for :article, person do %>
      <div class="card">
        <div class="face front">
          <header>
            <h2><%= link_to person.name, person_path(person) %></h2>
            <h4><%= person.description %></h4>
          </header>
                  <%= image_tag(person.image_url) %>
          <ul class="details">
            <li>Age: <strong><%= person.age %></strong></li>
            <li>Friends: <strong><%= person.friends %></strong></li>
          </ul>
          <ul>
            <li>Stash: <strong><%= person.wealth %></strong></li>
            
            <li>Payoffs: <strong><%= person.payoffs %></strong></li>
          </ul>
        </div>
        <div class="face back">
            <h2><%= person.name %></h2>
            <p><%= person.summary %></p>
        </div>
      </div>
      <footer>
        <a href="#">Drag to position</a> | <%= link_to 'Show', person %> | <%= link_to 'Edit', edit_person_path(person) %> | <%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %>
      </footer>
    <% end %>
  <% end %>
</section>
